# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build artifacts
Makefile
.qmake.stash
moc_*.cpp
moc_predefs.h
qrc_*.cpp
ui_*.h
*.qm

# Executable
zUnlock-ZN5

# User files
*.pro.user*
*.directory

# IDE
.vscode/
.codeartsdoer/
